/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {

}

/*mobil 400 px tablet 400 til 1000 px*/



h1 {
    text-align: center;
    background-color: #790069;
    color: white;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-top: -8px;
    margin-bottom: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #790069;
    font-weight: 1000;

}

p {
    font-size: 1.30em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    
}

ol {
    font-size: 1.2em;
    text-align: center;
    background-color: #790069;
    color: white;
    list-style-position: inside;
    height: 260px;
    line-height: 1.7
    
}

a {
    color: white;
    text-decoration: underline;
    
}

}

a.hover {
    
    color: #FFB800;
}

body {
    background-color: #ffffff;
}

img {

}

li {
  
}

body {
    
}
#indhold {
    font-size: 1.30em;
    font-family: 'Open Sans', sans-serif; 
}

#poverskrift {
    ;
    text-align: center;
    font-weight: 600;
    color: #790069;
}


#doanddont {
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-row: 0.5fr;
    grid-template-areas:
    "overskrift overskrift overskrift"
    "pasdinkat pasdinkat pasdinkat"
    "intro intro intro"
    "indhold indhold indhold"
    "catsandmilk catsandmilk catsandmilk"
    "dontfirst dontfirst dontfirst"
    "catmilk catmilk catmilk"
    "milkbilled firstdo firstdo"
    "notadog notadog notadog"
    "seconddont seconddont seconddont"
    "tilkatten tilkatten tilkatten"
    "seconddo seconddo seconddo"
    "notvegan notvegan notvegan"
    "thirddont thirddont veganbilled"
    "protein protein protein"
    "thirddo thirddo thirddo"
    "adult adult adult"
    "killingbilled fourthdont fourthdont"
    "foderskift foderskift foderskift"
    "fourthdo fourthdo fourthdo"
    "opdragelse opdragelse opdragelse"
    "femtedont femtedont femtedont"
    "doable doable doable"
    "femtedo femtedo opdragelsebilled"
    "footer footer footer";
    }


#overskrift {
    grid-area: overskrift;
    font-size: 1.6em;
}

#pasdinkat {
    grid-area: pasdinkat;
    color: #790069;
    font-size: 1.5em;
    
    }

#indhold {
    grid-area: indhold;
    margin-left: -8px;
    margin-right: -8px;
}

#intro {
    grid-area: intro;
    background-color: #FFB800;
    height: auto;
    margin-bottom: -25px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 10px 20px;
}

#catsandmilk {
    grid-area: catsandmilk;
}

#dontfirst {
    grid-area: dontfirst;
    background-color: #797979;
    width: 70%;
    height: auto;
    border: 10px;
    padding: 10px 20px;
    margin: auto;
    float: center;
}

#catmilk {
    grid-area: catmilk;
}

#milkbilled {
    grid-area: milkbilled;
    display: inline;
    margin: auto;
    padding-bottom: 50px;
    
}

#firstdo {
    grid-area: firstdo;
    background-color: #797979;
    width: 70%;
    height: auto;
    border: 10px;
    padding: 20px 20px;;
    margin: auto;
    float: center;
    
    
}

#notadog {
    grid-area: notadog;
    
    
}

#veganbilled {
    
    grid-area: veganbilled;
    display: inline;
    padding-top: 50px;
    margin: auto;
}


#notvegan {
    grid-area: notvegan;
}

#adult {
    grid-area: adult;
}

#opdragelse {
    grid-area: opdragelse;
    
}

#notadog {
    grid-area: notadog;
}

#seconddont {
    grid-area: seconddont;
    background-color: #790069;
    width: 70%;
    height: auto;
    border: 10px;
    padding: 10px 20px;
    margin: auto;
    float: center;
}

#tilkatten {
    grid-area: tilkatten;
}

#seconddo {
    grid-area: seconddo;
    background-color: #790069;
    width: 70%;
    height: auto;;
    border: 10px;
    padding: 10px 20px;
    margin: auto;
    float: center;
}

#notvegan {
    grid-area: notvegan;
}

#thirddont {
    grid-area: thirddont;
    background-color: #FFB800;
    width: 70%;
    height: auto;
    border: 10px;
    padding: 10px 20px;
    margin: auto;
    float: center;
}

#protein {
     grid-area: protein;
}

#thirddo {
    grid-area: thirddo;
    background-color: #FFB800;
    width: 70%;
    height: auto;
    border: 10px;
    padding: 10px 20px;
    margin: auto;
    float: center;
}

#adult {
     grid-area: adult;
}

#fourthdont {
    grid-area: fourthdont;
    background-color: #797979;
    width: 70%;
    height: auto;
    border: 10px;
    padding: 10px 20px;
    margin: auto;
    float: center;
}

#foderskift {
     grid-area: foderskift;
}

#fourthdo {
    grid-area: fourthdo;
    background-color: #797979;
    width: 70%;
    height: auto;
    border: 10px;
    padding: 10px 20px;
    margin: auto;
    float: center;
}

#killingbilled {
    grid-area: killingbilled;
    display: inline;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 50px;
}

#opdragelsebilled {
    grid-area: opdragelsebilled;
    display: inline;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
}

#opdragelse {
    grid-area: opdragelse 
}
    
#femtedont {
    grid-area: femtedont;
    background-color: #790069;
    width: 70%;
    height: auto;
    border: 10px;
    padding: 10px 20px;
    margin: auto;
    float: center;
}

#doable {
     grid-area: doable;
}

#femtedo {
    grid-area: femtedo;
    background-color: #790069;
    width: 70%;
    height: auto;
    border: 10px;
    padding: 10px 20px;
    margin: auto;
    float: center;
}


#footer {
    grid-area: footer;
    font-family: 'Montserrat', sans-serif;
    background-color: #797979;
    color: white;
    height: 200%;
    width: 100%;
    margin: auto;
    text-align: center;
}





@media screen and (max-width: 700px) {
    
#doanddont {
    display: grid;
    grid-column: 2fr 1fr;
    grid-row: 0.5fr;
    grid-template-areas:
    "overskrift overskrift"
    "pasdinkat pasdinkat"
    "intro intro"
    "indhold indhold"
    "catsandmilk catsandmilk"
    "dontfirst dontfirst"
    "catmilk catmilk"
    "milkbilled firstdo"
    "notadog notadog"
    "seconddont seconddont"
    "tilkatten tilkatten"
    "seconddo seconddo"
    "notvegan notvegan"
    "thirddont veganbilled"
    "protein protein"
    "thirddo thirddo"
    "adult adult"
    "killingbilled fourthdont"
    "foderskift foderskift"
    "fourthdo fourthdo"
    "opdragelse opdragelse"
    "femtedont femtedont"
    "doable doable"
    "femtedo opdragelsebilled"
    "footer footer";
    }
    
    
    .body    {
        align-content: center;
        margin: auto;
    
    }
  
    
@media screen and (max-width: 200px)  {
        }    

#doanddont {
    display: grid;
    grid-column: 1fr;
    grid-row: 0.5fr;
    grid-template-areas:
    "overskrift"
    "pasdinkat"
    "intro"
    "indhold"
    "catsandmilk"
    "dontfirst"
    "catmilk"
    "milkbilled" 
    "firstdo"
    "notadog"
    "seconddont"
    "tilkatten"
    "seconddo"
    "notvegan"
    "thirddont" 
    "veganbilled"
    "protein"
    "thirddo"
    "adult"
    "fourthdont"
    "killingbilled"
    "foderskift"
    "fourthdo"
    "opdragelse"
    "femtedont"
    "doable"
    "femtedo"
    "opdragelsebilled"
    "footer";
    }
    }

body    {
height: 100%;
align-content: center;
margin: auto;
}
