/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {

}

/*mobil 400 px tablet 400 til 1000 px*/


h1 {
    text-align: center;
    background-color: #790069;
    color: white;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

p {
    font-size: 1.35em;
}

ol {
    font-size: 1.2em;
    text-align: center;
    background-color: #790069;
    color: white;
    list-style-position: inside;
    
}

body {
    background-color: #888888;
}

img {

}

li {
  
}

body {
    
}

#indhold {
    
}

#poverskrift {
    ;
    text-align: center;
}

#doanddont {
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-row: 0.5fr;
    grid-template-areas:
    "overskrift overskrift overskrift"
    "pasdinkat pasdinkat pasdinkat"
    "intro intro intro"
    "indhold indhold indhold"
    "catsandmilk catsandmilk catsandmilk"
    "dontfirst dontfirst dontfirst"
    "catmilk catmilk catmilk"
    "milkbilled firstdo firstdo"
    "notadog notadog notadog"
    "seconddont seconddont seconddont"
    "tilkatten tilkatten tilkatten"
    "seconddo seconddo seconddo"
    "notvegan notvegan notvegan"
    "thirddont thirddont thirddont"
    "protein protein protein"
    "thirddo thirddo thirddo"
    "adult adult adult"
    "fourthdont fourthdont fourthdont"
    "foderskift foderskift foderskift"
    "fourthdo fourthdo fourthdo"
    "opdragelse opdragelse opdragelse"
    "femtedont femtedont femtedont"
    "doable doable doable"
    "femtedo femtedo femtedo"
    "questions questions questions"
    "footer footer footer";
    }


#overskrift {
    grid-area: overskrift;
}

#pasdinkat {
    grid-area: pasdinkat;
    color: #790069;
    }

#indhold {
    grid-area: indhold;
}

#intro {
    grid-area: intro;
    background-color: #FFB800;
}

#catsandmilk {
    grid-area: catsandmilk;
}

#dontfirst {
    grid-area: dontfirst;
    background-color: #999999;
    width: 600px;
    height: 200px;
    border: 10px solid gray;
    padding: 10px 20px;
    margin: 10px 20px 30px 150px;
}

#catmilk {
    grid-area: catmilk;
}

#milkbilled {
    grid-area: milkbilled;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#firstdo {
    grid-area: firstdo;
    background-color: #999999;
    width: 600px;
    height: 200px;
    border: 10px solid gray;
    padding: 10px 20px;
    margin: 10px 20px 30px 15px;
}

#notadog {
    grid-area: notadog;
}

#notvegan {
    grid-area: notvegan;
}

#adult {
    grid-area: adult;
}

#opdragelse {
    grid-area: opdragelse;
}

#notadog {
    grid-area: notadog;
}

#seconddont {
    grid-area: seconddont;
    background-color: #999999;
    width: 600px;
    height: 200px;
    border: 10px solid gray;
    padding: 10px 20px;
    margin: 10px 20px 30px 150px;
}

#tilkatten {
    grid-area: tilkatten;
}

#seconddo {
    grid-area: seconddo;
    background-color: #999999;
    width: 600px;
    height: 250px;
    border: 10px solid gray;
    padding: 10px 20px;
    margin: 10px 20px 30px 150px;
}

#notvegan {
    grid-area: notvegan;
}

#thirddont {
    grid-area: thirddont;
    background-color: #999999;
    width: 600px;
    height: 200px;
    border: 10px solid gray;
    padding: 10px 20px;
    margin: 10px 20px 30px 150px;
}

#protein {
     grid-area: protein;
}

#thirddo {
    grid-area: thirddo;
    background-color: #999999;
    width: 600px;
    height: 200px;
    border: 10px solid gray;
    padding: 10px 20px;
    margin: 10px 20px 30px 150px;
}

#adult {
     grid-area: adult;
}

#fourthdont {
    grid-area: fourthdont;
    background-color: #999999;
    width: 600px;
    height: 200px;
    border: 10px solid gray;
    padding: 10px 20px;
    margin: 10px 20px 30px 150px;
}

#foderskift {
     grid-area: foderskift;
}

#fourthdo {
    grid-area: fourthdo;
    background-color: #999999;
    width: 600px;
    height: 200px;
    border: 10px solid gray;
    padding: 10px 20px;
    margin: 10px 20px 30px 150px;
}

#opdragelse {
    grid-area: opdragelse 
}
    
#femtedont {
    grid-area: femtedont;
    background-color: #999999;
    width: 600px;
    height: 200px;
    border: 10px solid gray;
    padding: 10px 20px;
    margin: 10px 20px 30px 150px;
}

#doable {
     grid-area: doable;
}

#femtedo {
    grid-area: femtedo;
    background-color: #999999;
    width: 600px;
    height: 200px;
    border: 10px solid gray;
    padding: 10px 20px;
    margin: 10px 20px 30px 150px;
}

#questions {
    grid-area: questions;
}

#footer {
    grid-area: footer;
}




@media screen and (max-width: 700px) {
    
#doanddont {
    display: grid;
    grid-column: 1fr;
    grid-row: 0.5fr;
    grid-template-areas:
    "overskrift overskrift"
    "pasdinkat pasdinkat"
    "intro intro"
    "indhold indhold"
    "catsandmilk catsandmilk"
    "dontfirst dontfirst"
    "catmilk catmilk"
    "milkbilled firstdo"
    "notadog notadog"
    "seconddont seconddont"
    "tilkatten tilkatten"
    "seconddo seconddo"
    "notvegan notvegan"
    "thirddont thirddont"
    "protein protein"
    "thirddo thirddo"
    "adult adult"
    "fourthdont fourthdont"
    "foderskift foderskift"
    "fourthdo fourthdo"
    "opdragelse opdragelse"
    "femtedont femtedont"
    "doable doable"
    "femtedo femtedo"
    "questions questions"
    "footer footer";
    }
}

    
@media screen and (max-width: 400px) {
    
#doanddont {
    display: grid;
    grid-column: 1fr;
    grid-row: 0.5fr;
    grid-template-areas:
    "overskrift"
    "pasdinkat"
    "intro"
    "indhold"
    "catsandmilk"
    "dontfirst"
    "catmilk"
    "firstdo"
    "milkbilled"
    "notadog"
    "seconddont"
    "tilkatten"
    "seconddo"
    "notvegan"
    "thirddont"
    "protein"
    "thirddo"
    "adult"
    "fourthdont"
    "foderskift"
    "fourthdo"
    "opdragelse"
    "femtedont"
    "doable"
    "femtedo"
    "questions"
    "footer";
    }
}