/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {

}

h1 {
    text-align: center;
    background-color: #790069;
    color: white;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

p {
    font-size: 1.35em;
}

ol {
    font-size: 1.2em;
    text-align: center;
    background-color: #790069;
    color: white;
    list-style-position: inside;
    
}

img {

}

li {
  
}

body {
    
}

#indhold {
    
}

#poverskrift {
    background-color: #FFB800;
    text-align: center;
}




#overskrift {
    grid-area: overskrift;
}

#pasdinkat {
    grid-area: pasdinkat;
    }

#indhold {
    grid-area: indhold;
}

#doanddont {
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas: 
    "overskrift overskrift"
    "pasdinkat pasdinkat"
    "indhold indhold"
    "catsandmilk catsandmilk"
    "dontfirst dontfirst"
    "catmilk catmilk"
    "milkbilled firstdo"
    "notadog notadog"
    "notvegan notvegan"
    "adult adult"
    "opdragelse opdragelse"
    "questions questions";
    }

#catsandmilk {
    grid-area: catsandmilk;
}

#dontfirst {
    grid-area: dontfirst;
}

#catmilk {
    grid-area: catmilk;
}

#milkbilled {
    grid-area: milkbilled;
}

#firstdo {
    grid-area: firstdo;
    background-color: #999999;
}

#notadog {
    grid-area: notadog;
}

#notvegan {
    grid-area: notvegan;
}

#adult {
    grid-area: adult;
}

#opdragelse {
    grid-area: opdragelse;
}

#questions {
    grid-area: questions;
}